body {
    background-color: gainsboro;
    padding-left: 50px;
    padding-top: 50px;
}

.details{
    display: flex;
    justify-content: center;
}

img {
    width: 300px;
    margin: 30px;
}

.form div {
    margin: 20px;;
}

.container form {
    display: inline;
}

#go_back {
    margin-top: 20px;
}

span {
    background-color: rgb(71, 129, 255);
    color: white;
    font-size: 14px;
    padding: 2px;
    border-radius: 3px;
}

